* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f6f6f6;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

/* Start Navigation */

.navbar {
  width: 100%;
  background-color: #333;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: end;

  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 15px 20px;
}

.dropdown .dropdown-toggle {
  background-color: inherit;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;

  padding: 15px 20px;
}

.dropdown .dropdown-menu a {
  color: #000;
  display: block;
  text-align: center;
}

.navbar a:hover,
.dropdown:hover .dropdown-toggle {
  background-color: steelblue;
}

.dropdown-menu,
.dropdown-menu-mega {
  min-width: 130px;
  background-color: #f4f4f4;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;

  display: none;

  transition: display 0.5s ease-in;
}

.dropdown-menu-mega {
  width: 100%;
  left: 0;
}

.dropdown-menu-mega .header {
  background: linear-gradient(75deg, gray, black);
  color: #fff;
  padding: 10px;
}

.dropdown-menu-mega .row {
  display: flex;
  background-color: #f4f4f4;

  padding: 30px;
}

.dropdown-menu-mega .row .col-4 {
  width: 33.33%;
}

.dropdown-menu-mega .row .col-4 h4 {
  text-align: center;
  text-decoration: underline;
}

.dropdown-menu-mega .row .col-4 a {
  color: #000;
  display: block;
  text-align: center;

  padding: 20px 0;
}

.dropdown-menu-mega .row .col-4 a:hover {
  color: #fff;
}

.dropdown:hover .dropdown-menu,
.dropdown:hover .dropdown-menu-mega {
  display: block;
}

/* End Navigation */

/* Start Left Side Bar */

.nav-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;

  z-index: 2;
}

.open-btn .fa-bars {
  color: #fff;
}

.nav-leftsidebar .logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.nav-leftsidebar {
  height: 100vh;
  background-color: #000;

  position: fixed;
  left: 0;
  top: 0;

  transform: translateX(-100%);

  padding: 30px;

  transition: transform 0.5s ease-in;

  z-index: 3;
}

.nav-leftsidebar.visible {
  transform: translateX(0%);
}

.close-btn {
  color: #fff;

  position: absolute;
  right: 20px;
  top: 20px;

  opacity: 0.5;
}

.close-btn:hover {
  color: red;
  opacity: 0.9;
}

.list-group {
  padding: 0;
  margin: 0;
}

.list-group .list-group-item,
.list-group .list-group-item ul li {
  margin: 25px 0;
}

.list-group .list-group-item .nav-link {
  background-color: steelblue;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  padding: 10px;
  transition: all 0.5s;
}

.list-group .list-group-item .nav-link:hover {
  opacity: 0.8;
  transform: translateX(10px);
}

.list-group .list-group-item .nav-link.active {
  background-color: darkblue;
  opacity: 1;
  transform: translateX(0px);
}

/* End Left Side Bar */
