* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial;

  display: grid;
  place-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.controls {
  width: 80%;
  background-color: #222;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0;
}

.ctrl-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  margin: 0 5px;
}

.progress {
  width: 70%;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-color: red;
}

.ctrl-btn .fa-play {
  color: red;
}

.ctrl-btn .fa-stop {
  color: crimson;
}

.openfullscreen,
.closefullscreen {
  cursor: pointer;
  margin-right: 10px;
}

.closefullscreen {
  display: none;
}

.displaytime {
  padding-right: 10px;
}

.pannel {
  background-color: #000;
  color: white;
  padding: 0 30px;

  position: absolute;
  top: 50%;
  left: 10%;

  transition: all 0.5s ease-out;
  z-index: -1;
}

.container:hover .pannel {
  top: 100%;
}
